{:source-paths ["src"]

 :dependencies [[funcool/promesa "8.0.450"]]

 :builds
 {:package {:target :node-library
            :js-options {:js-provider :shadow
                         :keep-native-requires true
                         :keep-as-require #{"atom" "electron"}}

            :compiler-options {:infer-externs :auto}
            :exports {:activate generic-lsp.core/activate
                      :deactivate generic-lsp.core/deactivate
                      :config generic-lsp.config/config

                      :provider
                      generic-lsp.provider/provider

                      :status-bar-consumer
                      generic-lsp.status-bar/consumer

                      :complete-provider
                      generic-lsp.complete/provider

                      :intentions-list
                      generic-lsp.intentions/list-intentions

                      :intentions-provide
                      generic-lsp.intentions/provider

                      :datatip-consumer
                      generic-lsp.datatip/consumer

                      :linter-consumer
                      generic-lsp.linter/consumer}
            :output-to "lib/main.js"}}}
